/* .title{
    -fx-font-family: "Ubuntu" ;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
.text{
    -fx-font-family: "Ubuntu" ;
    -fx-font-style: italic;
    -fx-font-weight: regular;
    -fx-font-size: 18px;
} */
.button-accept{
    -fx-background-color : #fff ;
    -fx-background-radius: 5;
    -fx-font-family: "Century Gothic";
    -fx-effect: dropshadow( gaussian, rgba(235, 235, 235, 0.4), 20, 0.8, 0.0, 0.0 );
    -fx-font-style: italic;
    -fx-font-size: 18px;
}
.button-cancel{
    -fx-background-color: linear-gradient(to left,#e1dafa ,#0a007c);
}
.ip{
    -fx-font-family: "Century Gothic";
    -fx-font-style: italic;
    -fx-text-fill: #4b28ffcb ;
    -fx-prompt-text-fill: #160081cb ;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian, rgba(235, 235, 235, 0.4), 20, 0.8, 0.0, 0.0 );
}
